<nav class="navbar navbar-expand-lg navbar-dark bg-dark py-0 py-md-0">
  <a class="navbar-brand" href="#">Menu</a>
  <button class="navbar-toggler text-light" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <i class="fa fa-bars"></i>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link py-0" href="#"><i class="fa fa-file"></i> New</a>
      <a class="nav-item nav-link py-0" href="#"><i class="fa fa-folder-open"></i> Open</a>
      <a class="nav-item nav-link py-0" href="#"><i class="fa fa-save"></i> Save</a>
      <a class="nav-item nav-link py-0" href="#"><i class="fa fa-download"></i> Export</a>
      <a class="nav-item nav-link py-0" href="#"><i class="fa fa-download"></i> Export all</a>
    </div>
  </div>
</nav>

