<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css"
      integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
<nav class="navbar navbar-expand-lg navbar-dark bg-dark py-md-0">
  <div class="navbar-nav flex-row">
    <div class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">
        <i class="fa fa-files-o text-light"></i> File
      </a>
      <div class="dropdown-menu no-border">
        <a class="dropdown-item bg-dark text-light" href="#" (click)="this.codeService.add()">
          <i class="fa fa-file"></i> New <span class="text-muted small d-none d-md-inline">Ctrl+Alt+N</span>
        </a>
        <a class="dropdown-item bg-dark text-light" href="#" (click)="this.codeService.open()"><i
          class="fa fa-folder-open"></i> Open <span
          class="text-muted small d-none d-md-inline">Ctrl+O</span></a>
        <a class="dropdown-item bg-dark text-light" href="#" (click)="this.codeService.save()"><i
          class="fa fa-file-download"></i> Export <span
          class="text-muted small d-none d-md-inline">Ctrl+E</span></a>
        <a class="dropdown-item bg-dark text-light" href="#" (click)="this.codeService.saveAll()"><i
          class="fa fa-download"></i> Export all <span
          class="text-muted small d-none d-md-inline">Ctrl+Maj+E</span></a>
      </div>

    </div>
    <div class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">
        <i class="fa fa-files-o text-light"></i> Edit
      </a>
      <div class="dropdown-menu no-border">
        <a class="dropdown-item bg-dark text-light" href="#" (click)="this.historyService.undo()"><i
          class="fa fa-undo"></i> Undo </a>
        <a class="dropdown-item bg-dark text-light" href="#" (click)="this.historyService.redo()"><i
          class="fa fa-redo"></i> Redo </a>
        <a class="dropdown-item bg-dark text-light" href="#" (click)="this.codeService.format()"><i
          class="fa fa-align-justify"></i> Format </a>
      </div>

    </div>
    <div style="width: 10px"></div>
    <a class="nav-item nav-link" href="#" (click)="this.runHandler.send()"><i class="fa fa-play text-success"></i>
      Run</a>
  </div>
  <div class="navbar-nav ml-auto flex-row">
    <a class="nav-item nav-link" href="#" data-toggle="modal" data-target="#settingsModal"><i
      class="fa fa-cogs text-light"></i> Settings</a>
    <div style="width: 10px"></div>
    <a class="nav-item nav-link" href="#" data-toggle="modal" data-target="#helpModal"><i
      class="fa fa-question text-info"></i> Help</a>
  </div>

</nav>

<!-- Modal -->
<div class="modal fade" id="settingsModal" tabindex="-1" role="dialog" aria-labelledby="settingsModalLongTitle"
     aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="settingsModalLongTitle"><i class="fa fa-cogs"></i> Settings</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="d-flex justify-content-between padding-side">
        <p>Enable/Disable orcha-lang mode</p>
        <div class="custom-control custom-switch">
          <input type="checkbox" class="custom-control-input" id="color"
                 [(ngModel)]="codeMirrorOptionService.mode"
                 (ngModelChange)="codeMirrorOptionService.updateMode()" checked>
          <label class="custom-control-label" for="color"></label>
        </div>
      </div>
      <div class="d-flex justify-content-between padding-side">
        <p>Enable/Disable VIM mode</p>
        <div class="custom-control custom-switch">
          <input type="checkbox" class="custom-control-input" id="vim"
                 [(ngModel)]="codeMirrorOptionService.vim"
                 (ngModelChange)="codeMirrorOptionService.updateVim()">
          <label class="custom-control-label" for="vim"></label>
        </div>
      </div>
      <div class="padding-side">
        <div class="form-group">
          <label for="exampleFormControlSelect1">Change style</label>
          <select class="form-control" id="exampleFormControlSelect1"
                  [(ngModel)]="codeMirrorOptionService.theme"
                  (ngModelChange)="codeMirrorOptionService.updateTheme()">
            <option selected="selected"></option>
            <option *ngFor="let theme of codeMirrorOptionService.themes">{{ theme }}</option>
          </select>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-dark" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="helpModal" tabindex="-1" role="dialog" aria-labelledby="helpModalLongTitle"
     aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="helpModalLongTitle"><i class="fa fa-question"></i> Help</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body list-group">
        <a class="list-group-item list-group-item-action">Ability to auto-complete the code with the Ctrl-Space key</a>
        <a class="list-group-item list-group-item-action">Ability to find a regex in code with the Ctrl-F key</a>
        <a class="list-group-item list-group-item-action">Activate full screen mode with the F12 key</a>
        <a class="list-group-item list-group-item-action">Get more information about Orcha: <a
          href="http://orchalang.com/">http://orchalang.com/</a></a>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-dark" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

