<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{{ title }}</title>
</head>
<body>
<app-loading-screen *ngIf="loading"></app-loading-screen>
<h1 class="text-center">{{ title }} <small class="text-muted h5 font-italic d-block"> Orchestrate Human
  Activities</small></h1>
<app-menu></app-menu>
<div class="d-flex flex-column flex-sm-row">
  <app-explorer class="bg-dark"></app-explorer>
  <app-write class="flex-fill"></app-write>
</div>

<app-console></app-console>

</body>
</html>
