/* You can add global styles to this file, and also import other style files */
.CodeMirror {
  height: fit-content!important;
  width: auto;
  max-width: 100%;
  font-family: "Fira Code", monospace;
  font-size: 14px;
}

.navbar-toggler {
  border: none;
  outline: none;
}

.CodeMirror-fullscreen {
  width: 100vw;
  max-width: 100vw;
  position: fixed;
  top: 0; left: 0; right: 0; bottom: 0;
  height: auto!important;
  z-index: 9;
}
